/*
*{
    outline: 1px dotted black;
}
*/

/*navbar/header styling*/
header ul{
    
    display: grid;
    grid-template-columns: repeat(4, min-content);
    justify-content: space-evenly;

}

/*navbar*/
ul,
li {
    margin: 0;
    padding: 0;
}

/*navbar*/
li{
    display: inline-block;
    font-family: 'Karla', sans-serif;
    font-size: 1.75rem;
    padding: 10px;
}



/*hover styling for nav elements, excluding the logo element*/
#nav-element:hover {
    color: blue;
}

/*styling for nav elements only*/
#nav-element {
    text-align:center;
}

/*styling for logo element only*/
#logo-element {
    text-align: center;
}


/*general html and body styling*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*body class- general styling format for css grid*/
body{
    display:grid;
    grid-template-rows: min-content auto min-content;
}

/*main class- general styling format for css grid*/
main {
    align-content: center;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    justify-content: center;
}

/*card class styling, for recipe cards*/
.card {
    background-color: #FCFCFC;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 13rem;
    margin: 2rem;
    padding: 10px; 
    width: 13rem;
}

/*styling for card, on-hover*/
.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*styling for card photo*/
.card-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 11rem;
    margin-right: -0.6rem;
    margin-left: -0.6rem;
    margin-top: -0.6rem;
}

/*styling for card title*/
.card-content {
    margin-top: 0.5rem;
    text-align: center;
}


/*styling for footer*/
footer {
    background-color: blue;
    padding: 1.4rem;
}

/*comprehensive styling for social icons*/
.icons {
    color: white;
    font-size: 1.4rem;
    text-align:center;
}

/*individual styling for icons*/
#icon-select {
    margin-left: 1rem;
}


/*adjusts columns from horizontal position to vertical when screen is small */
@media only screen and (max-width:600px) {
    header ul{
        grid-template-columns: none;
    }
    main {
        grid-template-columns: none;
    }
}



